@model Department

<div class="card">
    <h5 class="card-header">Department Details</h5>
    <div class="card-body">
        <h6 class="card-title">Department Name: @Model.Name</h6>
        <h6 class="card-title">Department ID: @Model.Id</h6>
        <h6 class="card-title">Department Capacity: @Model.Capacity</h6>

        <a href="/department/Index" class="btn btn-danger">Back</a>
    </div>
</div>